body {
    margin: 0;
    padding: 5px;
    
    height: 200px;
    min-width: 400px;
}

#input-el {
    padding: 10px;
    border: 2px solid greenyellow;
    margin-bottom: 4px;
    width: 100%;
    box-sizing: border-box;
}

#sec-container {
    display: flex;
    flex-direction: row;
}

#input-btn {
    font-size: 20px;
    color: white;
    background-color: greenyellow;
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 140px;
    height: 50px;
    padding-bottom: 5px;
    padding-top: 10px;

}

#delete-btn {
     font-size: 20px;
     font-weight: bold;
    color: rgb(98, 208, 74);
    background-color: white;
    display:flex;
    justify-content: center;
    text-align: center;
    width: 140px;
    height: 50px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-left: 10px;
    text-shadow: 0px 1px 1px black;
}

ul {
    color: greenyellow;
    padding-left: 0;
    
}

li {
    list-style-type: none;
}

a {
    color: greenyellow;
}